
Host 51.250.76.201
  User ruser0
  Hostname 51.250.76.201
  ProxyCommand none
  PasswordAuthentication no
  ForwardAgent yes
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no

Host 192.168.1.12
  User ruser0
  ProxyCommand ssh -q -A -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -W %h:%p ruser0@51.250.76.201

Host 192.168.1.5
  User ruser0
  ProxyCommand ssh -q -A -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -W %h:%p ruser0@51.250.76.201

Host 192.168.1.13
  User ruser0
  ProxyCommand ssh -q -A -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -W %h:%p ruser0@51.250.76.201

