
Host 51.250.93.121
  User ruser0
  Hostname 51.250.93.121
  ProxyCommand none
  PasswordAuthentication no
  ForwardAgent yes
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no

Host 192.168.33.20
  User ruser0
  ProxyCommand ssh -q -A -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -W %h:%p ruser0@51.250.93.121


Host 192.168.33.14
  User ruser0
  ProxyCommand ssh -q -A -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -W %h:%p ruser0@51.250.93.121


Host 192.168.33.11
  User ruser0
  ProxyCommand ssh -q -A -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -W %h:%p ruser0@51.250.93.121

