# "Ручной" проход по всем хостам - через граничный хост ${bastion}
# $ ssh -A ${ulogin}@${bastion}
%{ for host in hosts ~}
# $ ssh ${ulogin}@${host}
%{ endfor ~}

[bastion]
${bastion}

[ansibled]
%{ for host in hosts ~}
${host}
%{ endfor ~}

[app]
${hosts[1]}
${hosts[2]}

[database]
${hosts[0]}

[database:vars]
postgresql_version=12
postgresql_pgdata=/pgdata/12

[web]
${hosts[0]}
