
Host {{ tf_app.outputs.hosts.value[0]['addr-ext'] }}
  User ruser0
  Hostname {{ tf_app.outputs.hosts.value[0]['addr-ext'] }}
  ProxyCommand none
  PasswordAuthentication no
  ForwardAgent yes
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no

{% for host in tf_app.outputs.hosts.value %}
Host {{ host['addr-int']  }}
  User ruser0
  ProxyCommand ssh -q -A -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -W %h:%p ruser0@{{ tf_app.outputs.hosts.value[0]['addr-ext'] }}

{% endfor %}
